html {
	height: 100%;
	width: 100%;
}

body {
	height: 100%;
	width: 100%;
	margin: 0 0 0 0;
}

#pracImgCanvas {
	height: 100%;
	width: 100%;
}

video {
	height: 100%;
	width: 100%
}

iframe {
	margin-top: -30px;
}

#introInfo {
	background-color: black;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	color: rgba(209,210,210,.7);
	text-align: center;
	font-family: 'Lato', sans-serif;
	font-size: 1em;
	letter-spacing: .1em;
	line-height: 1.4em
}

#introText {
	position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 36%;
 /* text-align: justify;*/
 text-align: left;
 border: .1em solid rgba(209,210,210,.4);
 padding-left: 20px;
 padding-right: 20px;
 padding-bottom: 5px;
}

h3 {
	font-size: 2em;
	letter-spacing: .1em;
	font-weight: lighter;
	margin-top: 20px;
}

#fog {
	font-weight: bold;
}

#introInfo p {
	text-transform: uppercase;
}

.bold {
	font-weight: bold
}

.creators {
	position: absolute;
	right: 30px;
	top: 10px;
	font-size: .7em;
}

.inspiration {
	font-size: .9em;
	margin-top: 30px;
}